#id_3:hover{
    /* background-image:url(Me.jpg); */
    box-shadow: 10px 10px 50px 10px rgb(241, 255, 177);
    /* opacity: 0.7; */


}
#id_1:hover{
    box-shadow: 5px 7px 25px 5px rgb(184, 244, 255);

}

/* #non{
    width: 500px;
    height:500px; 
    border-radius: 50%;
    background-color:rgb(196, 43, 43);
    display: flex;
    top:790px;
    left: 1040px;
     position:absolute ;
} */

#id_5{
    
    background-color: rgb(98, 105, 104);
    /* background-clip: border-box; */
    text-align: left;
    /* display: flex;
    justify-content:space-between; */
    word-spacing: 500px;
    
    /* padding: 150px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
        
}
#id_6{
    
    background-color:  rgb(98, 105, 104);
    /* background-clip: border-box; */
    text-align:left;
    /* display: flex; */
    /* justify-content:space-between; */
    /* word-spacing: 200px;
     */
    /* padding: 150px; */
    font-weight: 800;
    font-size: 15px;

}
#id_7{
    height: 50px;;
}
#id_8{
      
    background-color:  rgb(98, 105, 104);
    /* background-clip: border-box; */
    text-align: left;
position:relative;
    /* display:flex;
    justify-content:space-between; */
    word-spacing: 300px;

    /* padding: 0px; */
    font-weight: 200;
    font-size: 25px;

}
#apple{
            margin-top: -100px;
}

